/* main */

.container{
padding: 200px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Mitr', sans-serif;
   font-weight: 700;
    font-size: 5vw;
    color: #fff;
}
p{
    font-family: 'Mitr', sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: left;
    font-size: 1vw;
    padding: 5vw;
    width: 50%;

}
body{
    background-color: blue;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-button-row button,
  
.example-button-row a {
  margin-right: 8px;
  float: right;
}